@{
}
<!DOCTYPE html>
<html>
<head>
	<title>FullFeed</title>

	<!-- 1. Load webcomponents-lite.min.js for polyfill support. -->
	<script src="~/lib/webcomponentsjs/webcomponents-lite.min.js"></script>

	<!-- 2. Use an HTML Import to bring in some elements. -->
	<link rel="import" href="~/lib/paper-input/paper-input.html">
	<link rel="import" href="~/lib/paper-button/paper-button.html">
	<link rel="import" href="~/lib/paper-progress/paper-progress.html">
	<link rel="import" href="~/lib/paper-dropdown-menu/paper-dropdown-menu.html">
	<link rel="import" href="~/lib/paper-listbox/paper-listbox.html">
	<link rel="import" href="~/lib/paper-item/paper-item.html">
	<link rel="import" href="~/lib/paper-toast/paper-toast.html">
	<link rel="import" href="~/lib/iron-icon/iron-icon.html">
	<link rel="import" href="~/lib/iron-icons/iron-icons.html">
	<link rel="import" href="~/lib/iron-flex-layout/iron-flex-layout-classes.html">
	<link rel="import" href="~/app/feedability-styles.html">

	<!-- import the styles modules -->
	<style is="custom-style" include="iron-flex iron-flex-factors iron-positioning feedability-styles"></style>
</head>
<body class="fullbleed vertical layout">
	<header class="indigo">
		<div class="horizontal layout">
			<h2 class="flex-2">
				<iron-icon style="color:navy;" icon="icons:chrome-reader-mode"></iron-icon> Feedability
			</h2>
			<paper-dropdown-menu id="method" class="flex-1 dark" label="Type" always-float-label>
				<paper-listbox attr-for-selected="value" id="method_list" class="dropdown-content" selected="feed">
					<paper-item value="feed">Feed</paper-item>
					<paper-item value="article">Article</paper-item>
				</paper-listbox>
			</paper-dropdown-menu>

			<paper-input id="url" class="flex-9 dark" label="URL" always-float-label placeholder="https://example.api/feed"></paper-input>
		</div>
		<div class="horizontal layout">
			<h2 class="flex-2"></h2>
			<paper-input id="whitelist" class="flex-2 dark" label="Whitelist Selectors" always-float-label placeholder="ex: div.myclass"></paper-input>
			<paper-input id="blacklist" class="flex-2 dark" label="Blacklist Selectors" always-float-label placeholder="ex: #advertisement_id,#advert2"></paper-input>
			<div class="flex-6">
				<paper-button onclick="feedability_run()" class="pink" raised><iron-icon icon="icons:send"></iron-icon>
					&nbsp; Run API
					&nbsp; <paper-progress id="loader" indeterminate style="display:none"></paper-progress>
				</paper-button>
				<paper-button onclick="feedability_copy()" class="indigo" raised><iron-icon icon="icons:link"></iron-icon>&nbsp; Copy Link</paper-button>
				<paper-button onclick="feedability_clear()" class="indigo" raised><iron-icon icon="icons:delete"></iron-icon>&nbsp; Clear Cache</paper-button>
				<div id="linkText" style="display:none"></div>
			</div>
		</div>
	</header>

	<div id="display" class="flex feedability-display xml"></div>

	<paper-toast id="toaster"></paper-toast>

	<!-- JS libraries -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.6.0/highlight.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/URI.js/1.18.1/URI.min.js"></script>

	<!-- Feedability script -->
	<script type="text/javascript" src="~/app/feedability.js"></script>
</body>
</html>