@{
}
<!DOCTYPE html>
<html>
	<head>
		<title>FullFeed</title>

		<!--Import Google Icon Font-->
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

		<!-- Compiled and minified CSS -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
		
		<!-- highlight.js -->
		<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.6.0/styles/default.min.css">

		<!--Let browser know website is optimized for mobile-->
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<style type="text/css">
			.feedability-top {
				color: white
			}
			.feedability-display {
				margin: 0px 20px 20px; 
				flex-grow: 1; 
				border: 1px solid gray; 
				background: #eee;
				overflow: auto;
				padding: 0px 15px;
			}
			.feedability-code {
				font-family: Consolas;
				font-size: 9pt;
				white-space: pre;
			}
			#toast-container {
				top: auto;
				bottom: 5%;
				right: 40%;
				left: auto;
			}
		</style>
	</head>
	<body style="overflow: hidden">
		<div style="display:flex; height:100vh; flex-direction: column">
			<form>
				<div class="row indigo darken-1 feedability-top">
					<div class="input-field col s2" style="font-size: 24pt;">
						Feedability
					</div>
					<div class="input-field col s1">
						<select id="method">
							<option value="feed">Feed</option>
							<option value="article">Article</option>
						</select>
						<label>Type</label>
					</div>
					<div class="input-field col s9">
						<input placeholder="https://example.api/feed" id="url" type="text" class="validate">
						<label for="url">URL</label>
					</div>
					<div class="input-field col s2 offset-s2">
						<input placeholder="ex: div.myclass" id="whitelist" type="text" class="validate">
						<label for="whitelist">Whitelist Selectors</label>
					</div>
					<div class="input-field col s2">
						<input placeholder="ex: #advertisement_id" id="blacklist" type="text" class="validate">
						<label for="blacklist">Blacklist Selectors</label>
					</div>
					<div class="input-field col s6">
						<a id="go" class="waves-effect waves-light pink accent-4 btn"><i class="material-icons left">send</i>Run API</a> &nbsp;
						<a id="copy" class="waves-effect waves-light indigo darken-3 btn"><i class="material-icons left">link</i>Copy Link</a> &nbsp; 
						<a id="clear" class="waves-effect waves-light indigo darken-4 btn"><i class="material-icons left">delete</i>Clear Cache</a> &nbsp; 
						<div id="loader" class="progress" style="display:none">
							<div class="indeterminate"></div>
						</div>
						<div id="linkText" style="display:none"></div>
					</div>
				</div>
			</form>

			<div id="display" class="feedability-display xml">
				
			</div>
		</div>

		<!-- JS libraries -->
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.6.0/highlight.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>

		<!-- Feedability script -->
		<script>
			function feedability_url() {
				var url = location.protocol + '//' + location.hostname + (location.port ? ":" + location.port : "") + location.pathname +
					"api/fullfeed/" + $("#method").val()
					+ "?url=" + encodeURIComponent($("#url").val());
				if ($("#whitelist").val().trim() != "")
					url = url + "&whitelist=" + encodeURIComponent($("#whitelist").val());
				if ($("#blacklist").val().trim() != "")
					url = url + "&blacklist=" + encodeURIComponent($("#blacklist").val());
				return url;
			}
			$(document).ready(function () {
				$('select').material_select();
			});
			// run API by calling controller
			$("#go").click(function () {
				var method = $("#method").val();
				$("#loader").show();
				$.ajax(feedability_url(), { dataType: "text" })
					.done(function (data) {
						if (method == "feed") {
							// display xml response
							$("#display")
								.addClass("feedability-code")
								.text(data);
							hljs.highlightBlock($("#display").get(0));
						} else if (method == "article") {
							// render readable article
							$("#display")
								.empty()
								.removeClass("feedability-code")
								.append(data);
						}
					})
					.always(function () {
						$("#loader").hide();
					});
			});

			// clear cache by calling controller
			$("#clear").click(function () {
				$.ajax("api/fullfeed/clearcache?url=" + encodeURIComponent($("#url").val()))
					.done(function () { Materialize.toast("Cache cleared", 3000); })
					.fail(function () { Materialize.toast("Error clearing cache", 3000); });
			});

			// copy Link to clipboard
			$("#copy").click(function () {
				var linkText = $("#linkText").text(feedability_url()).show();
				window.getSelection().removeAllRanges();
				var range = document.createRange();
				range.selectNode(linkText.get(0));
				window.getSelection().addRange(range);
				document.execCommand("copy");
				window.getSelection().removeAllRanges();
				$("#linkText").text("").hide();

				Materialize.toast("Link copied to clipboard", 3000);
			});
		</script>
	</body>
</html>